<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    defining the log file properties-->
    <property name="LOG_DIR" value="D:/logs/"/>
    <property name="FILE_PREFIX" value="frightreservationmgt"/>
<!--    invoking the rolling file appender class-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            ${LOG_DIR}/${FILE_PREFIX}.log
        </file>
<!--        defining the appender log pattern-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>
<!--        defining the rolling policy-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
<!--            file naming pattern-->
            <fileNamePattern>
                ${LOG_DIR}/achieved/${FILE_PREFIX}.%d{yyyy-MM-dd HH:mm:ss}.%i
            </fileNamePattern>
<!--            timing and size policy of the log file-->
            <timeBaseFileNamingAndTriggerPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>
                    15MB
                </maxFileSize>

            </timeBaseFileNamingAndTriggerPolicy>
        </rollingPolicy>
    </appender>
</configuration>